<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		{{#> page.meta }}
		{{/page.meta }}

		<title>{{#if page.title }} {{ page.title }} {{ else }} Default Title {{/if }}</title>

		{{#> page.head.css }}
			{{!-- Custom CSS to be added --}}
		{{/page.head.css }}

		{{#> page.head.js  }}
			{{!-- Custom Javascript to be added --}}
		{{/page.head.js }}
	</head>

	<body onload="main(this);">
		{{#> page.header }}
			{{!-- Page Header --}}
			{{> includes/header }}
		{{/page.header}}

		{{#> page.body }} 
			{{!-- Page Body --}}
		{{/page.body}}

		{{#> page.footer}} 
			{{!-- Page Footer --}}
			{{> includes/footer }}
		{{/page.footer}}

		{{#> page.script}}
			{{!-- Page Scripts --}}
		{{/page.script}}
	</body>
</html>